@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,700i,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


/* CSS RESET STARTS */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END OF RESET */

/* CUSTOM CSS STARTS */

::before, ::after, * {
  box-sizing: border-box;
}

:root {
  --primary-color: #E4A50D;
  --primary-color-transparent: rgba(228, 165, 13, 0.15);
  --dark-red: #870C17;
  --dark-red-transparent: rgba(135, 12, 23, 0.23);
  --red:#DB0014;
  --yellow: #E4A50D;
  --dark-gray: #444444;
  --light-gray: #A9A9A9;
  --light-gray-transparent: rgba(169, 169, 169, 0.60);
  --black: #1A1818;
  --black-transparent: rgba(0, 0, 0, 0.6);
  --white: #ffffff;
  --offset: 1rem;
  --border-size: 2px;

    --gutter: 1rem;

    --grid:calc(100% / 9);
    --col-1:calc( var(--grid) * 1);
    --col-2:calc( var(--grid) * 2);
    --col-3:calc( var(--grid) * 3);
    --col-4:calc( var(--grid) * 4);
    --col-5:calc( var(--grid) * 5);
    --col-6:calc( var(--grid) * 6);
    --col-7:calc( var(--grid) * 7);
    --col-8:calc( var(--grid) * 8);
    --col-9:calc( var(--grid) * 9);
  }

}


/* MAIN CSS STYLE*/

html {
  font-size: 1em;
}

body {
  font-size: 1rem;
  line-height: 1.618em;
  font-family: "Roboto", sans-serif;
  color: black;
  font-weight: 400;
  margin: 0;
  padding: 0;

}

p, h2, h3, h4, h5, h6 {
  max-width: 35rem;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
  font-family: 'Roboto', sans-serif;
}

/*Headers */

h1, .h1 {
  font-size: 5rem;
  line-height: 5.125rem;
  font-weight: 900;
  color: black;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 720px) {
  h1, .h1 {
    font-size: 3rem;
  }
}

/*Subheads */

h2, .h2 {
  font-size: 2rem;
  line-height: 2.382rem;
  font-weight: 500;
  color: var(--dark-gray);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*Subtitles */

h3, .h3 {
  font-size: 1.618em;
  line-height: 2.382rem;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--dark-gray);
}

/*buttons */

h4, .h4 {
  font-size: 1rem;
  line-height: 1.1rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*footer title*/

h5, .h5 {
  font-size: 1rem;
  line-height: 1.1em;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: white;
}

/*footer description */

h6, .h6 {
  font-size: .8rem;
  line-height: .8rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: white;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7rem;
  margin-top: 1;
  margin-bottom: 1rem;
}

q {
  color: black;
  font-style: italic;
  font-weight: 500;
  quotes: '' '';
}

strong, b {
  font-weight: 500;
  color: black;
}

a:link {
  text-decoration: none;
}

a:link, a:hover, a:visited,a:active {
  color: black;
}

a:hover {
  color: var(--dark-red);
}

label {
  cursor: pointer;

}
input{
  border: solid 1px var(--light-gray);
  border-radius:2%;
  padding:2px;
  height:3em;
}
textarea{
  border: solid 1px var(--light-gray);
  border-radius:1%;
  padding:2px;
  height:3em;
}
select{
    height:3.5em;
    color:var(--dark-red);
}

button {
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  background-color: var(--dark-red);
  text-transform: uppercase;
  color: white;
  font-size: 1rem;
  border-radius: 2rem;
  }


button:hover {
  color: var(--dark-red);
  background-color: white;
  border-color: var(--dark-red);
  border: var(--dark-red);
  border-size: 3px;
}

/* Navigation */

nav {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-content: center;
  width: 100%;
  background-color: white;
  box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.23);
margin-bottom: 6px;
}


.top-bar {
  padding: .2rem 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--dark-red);
  width: 100%;
  color: white;
}

.top-bar .top-bar-align {
  padding-right: 1rem;
}
button .login{
  padding: 0px 10px;
  border-radius: 0;
}
.login {
text-transform: none;
background-color: white;
}
.top-bar a {
  color: white;
}
.login a {
background-color: white;
color: var(--black);
}

nav .open {
  display: block !important;
}

nav a.navbar-brand {
  flex: 1 1 70%;
  max-width: 70%;
  margin-top: .5rem;
  background: url("../images/logo-type.png") no-repeat 0 0/contain transparent;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 3rem;
  text-indent: -999999px;
}

nav button.navbar-toggler {
  background-color: var(--dark-red);
  border: 0;
  padding: calc(1em / 1.618) 1em;
  color: var(--white);
  font-size: 1em;
  cursor: pointer;
  border-radius: 0;
}

nav .navbar-collapse {
  flex: 1 1 100%;
  max-width: 100%;
  display: none;
}

nav .navbar-collapse .navbar-nav, nav .navbar-collapse .dropdown-menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

nav .navbar-collapse .navbar-nav .nav-item {}

nav .navbar-collapse .navbar-nav .nav-item .nav-link, nav .navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-link {
  padding: calc(1em / 1.618) 1em;
  display: block;
  overflow: hidden;
  text-decoration: none;
}

.nodisplay {
  display: none;
}

.cart {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
}
nav .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: var(--black);
  text-align: center;
}

nav .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: var(--dark-red);
  border-bottom: 3px solid var(--dark-red);
  border-spacing: 1px;
}
@media screen and (max-width: 960px) {
  nav{      flex-flow: row wrap;
    justify-content: space-between;
}

.nodisplay {
  display: block;
}

.top-bar { display: none; }



}


@media screen and (min-width: 960px) {
  nav {
  }
  nav .navbar-collapse {
    display: block;
  }
  nav a.navbar-brand {
    flex: 0 0 3rem;
    max-width: 238px;
  }
  nav button.navbar-toggler {
    display: none;
  }
  nav .navbar-collapse {
    flex: 1 1 calc(100% - 238px);
    max-width: calc(100% - 238px);
  }
  nav .navbar-collapse .navbar-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;
  }


}

/* End of Navigation */


/*Footer Starts */

footer  {
  background-color: var(--primary-color);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  color: white;
  padding: 2rem;

}

footer .desktop {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-between;
  text-decoration: none;

}
footer a:link {
  color: white;
}

footer a:active {
  color: white;}

footer a:visited {
  color: white;
}

.footer-one {
  align-items: center;
}

footer img {
  width: 10rem;
}

.tablet-mobile {
  display: none;
}

.footer-two {}

.footer-two h6 i {
  padding-right: 1rem;
}

.footer-four {
  align-items: center;
}




/* Social Media Icons */

.social-media {
  list-style-type: none;
}

.social-media .text {
  display: block;
  color: black;
}

.social-media li {
  display: inline-block;
}

.social-media li a {
  text-decoration: none;
  color: white;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-between;
}

.social-media li a:hover {
  color: var(--dark-red);
}

.social-media li a i {
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

@media screen and (max-width: 960px) {

footer .desktop {
    display: none;
  }

.tablet-mobile {
  display: flex;
}
.footer-mobile {
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.footer-mobile-one {
  padding-right: 3rem;

}

}

.footer-company-name {
  text-align: center;
}

/*End of Footer */
/*start of grid*/
.container{
width:100%;
margin-left:auto;
margin-right:auto;
padding-right:1rem;
padding-left:1rem;
}

.row{

margin-left: -1rem;
margin-right: -1rem;
display:flex;
flex-flow: row wrap;
justify-content:flex-start;
align-items:flex-start;
align-content:flex-start;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7 .col-sm-8, .col-sm-9,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7 .col-md-8, .col-md-9,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7 .col-lg-8, .col-lg-9,
.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7 .col-xl-8, .col-xl-9
{

}


.col-xs-1{
flex:0 0 var(--col-1);
max-width: var(--col-1);
}
.col-xs-2{
flex:0 0  var(--col-2);
max-width: var(--col-2);
}
.col-xs-3{
  flex:0 0  var(--col-3);
  max-width: var(--col-3);
}
.col-xs-4 {
  flex:0 0  var(--col-4);
  max-width: var(--col-4);
}
.col-xs-5{
  flex:0 0  var(--col-5);
  max-width: var(--col-5);
}

.col-xs-6{
  flex:0 0  var(--col-6);
  max-width: var(--col-6);
}
.col-xs-7{
  flex:0 0  var(--col-7);
  max-width: var(--col-7);
}
.col-xs-8{
  flex:0 0  var(--col-8);
  max-width: var(--col-8);
}
.col-xs-9{
  flex:0 0  var(--col-9);
  max-width: var(--col-9);
}



@media screen and (min-width:576px){
  .col-sm-1{
  flex:0 0  var(--col-1);
	max-width: var(--col-1);
  }
  .col-sm-2{
  flex:0 0  var(--col-2);
	max-width: var(--col-2);
  }
  .col-sm-3{
    flex:0 0  var(--col-3);
  	max-width: var(--col-3);

  }
  .col-sm-4 {
    flex:0 0  var(--col-4);
    max-width: var(--col-4);
  }
  .col-sm-5{
    flex:0 0  var(--col-5);
  	max-width: var(--col-5);
  }

  .col-sm-6{
    flex:0 0  var(--col-6);
  	max-width: var(--col-6);
  }
  .col-sm-7{
    flex:0 0  var(--col-7);
    max-width: var(--col-7);
  }
  .col-sm-8{
    flex:0 0  var(--col-8);
    max-width: var(--col-8);
  }
  .col-sm-9{
    flex:0 0  var(--col-9);
    max-width: var(--col-9);
  }


}
@media screen and (min-width:768px){
  .col-md-1{
  flex:0 0  var(--col-1);
  max-width: var(--col-1);
  }
  .col-md-2{
  flex:0 0  var(--col-2);
  max-width: var(--col-2);
  }
  .col-md-3{
    flex:0 0  var(--col-3);
  	max-width: var(--col-3);
  }
  .col-md-4 {
    flex:0 0  var(--col-4);
  	max-width: var(--col-4);
  }
  .col-md-5{
    flex:0 0  var(--col-5);
  	max-width: var(--col-5);
  }
  .col-md-6{
    flex:0 0  var(--col-6);
  	max-width: var(--col-6);
  }
  .col-md-7{
    flex:0 0  var(--col-7);
  	max-width: var(--col-7);
  }
  .col-md-8{
    flex:0 0  var(--col-8);
  	max-width: var(--col-8);
  }
  .col-md-9{
    flex:0 0  var(--col-9);
  	max-width: var(--col-9);
  }
}

@media screen and (min-width:992px){

  .col-lg-1{
  flex:0 0  var(--col-1);
	max-width: var(--col-1);
  }
  .col-lg-2{
  flex:0 0  var(--col-2);
	max-width: var(--col-2);
  }
  .col-lg-3{
    flex:0 0  var(--col-3);
    max-width: var(--col-3);
  }
  .col-lg-4 {
    flex:0 0  var(--col-4);
  	max-width: var(--col-4);
  }
  .col-lg-5{
    flex:0 0  var(--col-5);
  	max-width: var(--col-5);
  }
  .col-lg-6{
    flex:0 0  var(--col-6);
  	max-width: var(--col-6);
  }
  .col-lg-7{
    flex:0 0  var(--col-7);
  	max-width: var(--col-7);
  }
  .col-lg-8{
    flex:0 0  var(--col-8);
  	max-width: var(--col-8);
  }
  .col-lg-9{
    flex:0 0  var(--col-9);
  	max-width: var(--col-9);
  }

}
@media screen and (min-width:1200px){
  .col-xl-1{
  flex:0 0  var(--col-1);
	max-width: var(--col-1);
  }
  .col-xl-2{
  flex:0 0  var(--col-2);
	max-width: var(--col-2);
  }
  .col-xl-3{
    flex:0 0  var(--col-3);
  	max-width: var(--col-3);
  }
  .col-xl-4 {
    flex:0 0  var(--col-4);
  	max-width: var(--col-4);
  }
  .col-xl-5{
    flex:0 0  var(--col-5);
  	max-width: var(--col-5);
  }
  .col-xl-6{
    flex:0 0  var(--col-6);
  	max-width: var(--col-6);
  }
  .col-xl-7{
    flex:0 0  var(--col-7);
    max-width: var(--col-7);
  }
  .col-xl-8{
    flex:0 0  var(--col-8);
  	max-width: var(--col-8);
  }
  .col-xl-9{
    flex:0 0  var(--col-9);
  	max-width: var(--col-9);
  }

}

/* Grid system ends*/


/*home contact form, Contact Form and Join Form starts */

fieldset{
	width:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	align-content:center;
}
.home-contact-image-container{
  display:none;
}

.home-form{
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:center;
	align-content:flex-start;

}
.home-form form{
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:center;
	align-content:flex-start;
}

.home-form form .form-row{
display:flex;
flex-flow:column;
justify-content:flex-start;
align-items:center;
align-content:flex-start;
width:100%;
}

.home-form button, .home-form input, .home-form textarea{
	font-family:inherit;
	font-size:inherit;
	line-height:inherit;
	margin:0;
}
.form-check{
	display:flex;
	flex-flow:row wrap;
	align-items:center;
	justify-content: center;}


.form-check label{
	font-family: Montserrat, sans-serif;
	font-weight:700;
}
.home-form form .form-group{
	margin-bottom:1.5rem;
		width:80%;
}
.home-form form .form-control{
	display:block;
	width:100%;
}

#submit  {
	width:100%;
	height: 60px;
	border-radius:2%;
  border:none;
	background-color:var(--dark-red);
	color:var( --white);
}

.home-form h2{
	color:var(--black);
	font-weight:bold;
}
.home-form hr{
	display:block;
	background-color:var(--dark-red);
	width:133px;
	height:7px;
	border-radius:50px;

}
.home-submit{
	display:flex;
  flex-direction:column;
	align-items:center;
	justify-content: center;
	align-content:center;
}
.home-submit .fab.fa-facebook-square{
  font-size:2em;
  padding-right:10px;
}
.home-submit button{
  background-color: #475993;
  width:100%;
	height: 60px;
	border-radius:2%;
  border:none;
  margin:2.5%;
}
.home-submit button a{
  color:var(--white);
  display:flex;
  align-items:center;
  justify-content:center;
  align-content:center;
}
.contact-image-container{
  display:none;
}

@media screen and (min-width:576px){

#submit {
	width: 259px;
	height: 51px;
	align-self:center;
}
}
@media screen and (min-width:768px){
.contact-image-container{
  display:flex;
	justify-content:center;
	align-items:center;
	align-content:center;

}
.contact-image-container .home-contact-image, .contact-image-container .home-contact-image picture, .contact-image-container .home-contact-image picture img{
width:100%;

}
}
@media screen and (min-width:992px){
.home-contact-image-container, .contact-image-container{
	display:flex;
  flex-direction:row;
	justify-content:flex-end;
	align-items:flex-end;
	align-content:flex-end;
  overflow: hidden;
  height:90vh;
}
	.home-contact-image{
    display:flex;
    flex-direction:row;
  	justify-content:flex-end;
  	align-items:center;
  	align-content:center;
    width:90%!important;
    height:90vh;

  }
	.home-contact-image img{
		width:100%;
	}

  .form-check{
  	align-items:space-around;
  	justify-content:flex-start;
    align-content:space-between;
  }
  .home-form hr{
margin-bottom:5%;
  }
}
@media screen and (min-width:1200px){
  .home-form{
  margin:auto;
  }

}

/*home contact form ends*/
/*Popup form starts*/

.hidden{
  display:none!important;
}
.popup{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100vh;
  display:flex;
  flex-flow:row wrap;
  align-items:center;
  justify-content:center;
  align-content:center;
  background-color: hsla(0, 100%, 0%, 0.7);
  color:var(--yellow);

}
.popup-container{
  width:90%;
  background:white;
  padding:2rem;
  margin:0;
  text-align:center;
  display:flex;
  flex-flow:column wrap;
  align-items:center;
  align-content:flex-start;
  justify-content:center;

}
.popup-close{
  align-self:flex-end;
  border-radius:50%;
  background-color:var(--dark-red);
  border:0;
  height:40px;
  width:40px;
  color:var(--white);
  font-size:1.5em;
}
.popup-container img{
  width:100%;
}
.popup-close:hover{
background-color:var(--white);
color:var(--dark-red);
border: solid 2px var(--dark-red);
}
.popup-container h2{
color:var(--yellow);
font-size:3em;
}

@media screen and (min-width:768px){
  .popup-container{
    width:60%;
  }
}
  @media screen and (min-width:992px){
    .popup-container{
      width:40%;
    }





}
/*Pop up ends*/
/*Sign In form and Sign Up Form starts */
.terms p, .sign-in-form p{
	font-size:.8em;
	color:var(--light-gray);
	margin:0;
}
.terms a{
	color:var(--black)!important;
}
.sign-in-form a{
	color:var(--dark-red);
}

.logo-sign-in{
	max-width:50%;
}
.logo-sign-in img{
	width:100%;
}
fieldset{
	width:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	align-content:center;
}


.sign-in-form{
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:center;
	align-content:flex-start;

}
.sign-in-form form{
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:center;
	align-content:flex-start;
}

.sign-in-form form .form-row{
display:flex;
flex-flow:column;
justify-content:flex-start;
align-items:center;
align-content:flex-start;
width:100%;
}

.sign-in-form button, .sign-in-form input, .sign-in-form textarea{
	font-family:inherit;
	font-size:inherit;
	line-height:inherit;
	margin:0;
}
.form-check{
	display:flex;
	flex-flow:row wrap;
	align-items:center;
	justify-content: center;

}
.form-check label{
	font-family:Montserrat, sans-serif;
	font-weight:700;
	color:var(--black)!important;
}
.sign-in-form form .form-group{
	margin-bottom:1.5rem;
		width:80%;
}
.sign-in-form form .form-control{
	display:block;
	width:100%;
}
.sign-in-submit{
	display:flex;
	flex-flow:column;
	justify-content:center;
	align-items:center;
	align-content:center;
}
.sign-in-submit #submit  {
	width:100%;
	height: 60px;
	border-radius:2%;
	background-color:var(--dark-red);
	border:none;
	color:var( --white);
}

.sign-in-form h2{
	color:var(--black);
	font-weight:bold;
}

.sign-in-md-container{
  display:none;
}
.sign-in-submit .fab.fa-facebook-square{
  font-size:2em;
  padding-right:10px;
}
.sign-in-submit button{
  background-color: #475993;
  width:100%;
	height: 60px;
	border-radius:2%;
  border:none;
  margin:2.5%;
}
.sign-in-submit button a{
  color:var(--white);
  display:flex;
  align-items:center;
  justify-content:center;
  align-content:center;
}


@media screen and (min-width:576px){
  .sign-in-submit button{
    width: 259px;
    height: 41px;
    align-self:center;

  }
.sign-in-submit #submit {
  width: 259px;
  height: 41px;
	align-self:center;
}

.sign-in-md-container{
display:flex;
	justify-content:flex-start;
	align-items:flex-start;
	align-content:flex-start;

}
	.sign-in-md-image, .sign-in-md-image img{
		width:100%;
	}
.logo-sign-in{
	max-width:35%;
}
		.sign-in-form .form-row{
		display:flex;
		flex-flow:row wrap!important;
		justify-content:center!important;
		padding:0% 5%;

	}
	.sign-in-form .form-row .form-group{
		padding:1%;
	}

@media screen and (min-width:768px){
	.sign-in-form{
		max-width:70%;
		margin: auto;
	}
	.sign-in-form .form-row{
		padding:0;
}
	.sign-in-form form .form-group{
		margin-bottom:.5rem;
	}
	}

@media screen and (min-width:992px){

  .sign-in-md-container{
  	display:flex;
    flex-direction:row;
  	justify-content:flex-end;
  	align-items:flex-start;
  	align-content:flex-end;
    overflow: hidden;
    height:100vh;
  }
  .sign-in-md-image{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-end;
    align-content:flex-end;
    width:90%!important;
    height:90vh;

  }

	.sign-in-form{
		max-width:100%;

	}

	.sign-in-image{
		width:80%;
	}
	.sign-in-image img{
		width:100%;
	}

.logo-sign-in{
	max-width:20%;
}}
@media screen and (min-width:1200px){


}
}
/*Sign In and Sign Up form ends*/



/*Billing Form Starts*/


.billing-form p{
	font-size:.8em;
	color:var(--light-gray);
	margin:0;
}

.billing-form fieldset{
	width:90%;
	display:flex;
  flex-flow:row wrap;
	align-items:center;
	justify-content:center;
	align-content:center;
  margin:2.5%;
}

.billing-form{
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:center;
	align-content:flex-start;

}
.billing-form form{
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:center;
	align-content:flex-start;
}

.billing-form form .form-row{
display:flex;
flex-flow:row wrap;
justify-content:flex-start;
align-items:center;
align-content:flex-start;
width:100%;
}

.billing-form button, .billing-form input, .billing-form textarea{
	font-family:inherit;
	font-size:inherit;
	line-height:inherit;
	margin:0;
}

.billing-form form .form-group{
	margin-bottom:1.5rem;
		width:80%;
}
.billing-form form .form-control{
	display:block;
	width:100%;
}
.sign-in-submit{
	display:flex;
	flex-flow:column;
	justify-content:center;
	align-items:center;
	align-content:center;
}
.billing-submit #submit  {
  max-width:50%;
	height: 60px;
	border-radius:2%;
	background-color:var(--dark-red);
	border:none;
	color:var( --white);
}
.billing-submit{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  align-content:center;
}

.billing-form h2{
	color:var(--black);
	font-weight:bold;
}

.card-visa{
  display:flex;
  flex-flow:row wrap;
  align-items:flex-start;
  justify-content:space-between;
  align-content:center;

}
i.fab.fa-cc-visa::before{
  color:var(--yellow);
  font-size:3em;
}
input#card.form-control{
  max-width:60%;
}
.billing-form .form-row{
padding:0% 8%;

}

.billing-form legend{
  font-size:2em;
  color: var(--black);
  font-family:inherit;
  margin:5%;
  font-weight:bold;
}



@media screen and (min-width:576px){


}

@media screen and (min-width:768px){
  .billing-form form{
  	flex-flow:row wrap;
  	justify-content:space-around;
  	align-items:flex-start;
  	align-content:flex-start;
  }}

@media screen and (min-width:992px){
  .billing-form form{
    flex-flow:row wrap;
    justify-content:center;
    align-items:flex-start;
    align-content:flex-start;
  }
  i.fab.fa-cc-visa::before{
    color:var(--yellow);
    font-size:3.5em;
  }




}

@media screen and (min-width:1200px){


}

/*start of hero component*/

.hero-content{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-content: center;
	align-items: center;
	background-color: var(--primary-color);
  padding-top: 1em;
  padding-bottom: 1em;
}
.hero-content .hero-description .hero-text
{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
  text-align: center;
}
.hero-content .hero-description .hero-text h2{
  color: var(--white);
  font-size: 3em;
  line-height: 4rem;
}
.hero-content .hero-description .hero-text p{
  color: var(--white);
}

.hero-content .hero-description .hero-text a {
  align-self: center;
}

.hero-content .hero-image{
	order: -1;
  background: url("../images/hero-home.png") no-repeat;
  background-size: cover;
  background-position: center;
  width: 30em;
  height: 30em;
}

@media screen and (min-width:992px)
{
	.hero-content{
		flex-flow: row nowrap;
	}

	.hero-content .hero-image{
		order: 1;
	}

  .hero-content .hero-description .hero-text{
    color: var(--white);
    text-align: left;
  }

  .hero-content .hero-description .hero-text a {
    align-self: flex-start;
  }
}
/*end of hero component*/

/*pageNotFound component*/
.pageNotFound{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  color: var(--black);
  padding: 25vh;
}
.pageNotFound h1{
  color: var(--primary-color);
  font-size: 10em;
  margin-bottom: 3rem;
}
.pageNotFound h2{
  font-style: italic;
  font-weight: 800;
}
.pageNotFound .message{
  text-align: center;
}
.pageNotFound img{
  display: none;
}

.pageNotFound button {
  font-family: inherit;
}

@media screen and (min-width: 768px)
{
  .pageNotFound img{
    display: block;
    order: 1;
  }
  .pageNotFound .message{
    align-self: center;
  }
}
@media screen and (min-width: 992px)
{
  .pageNotFound{
    padding: 0;
  }
  .pageNotFound img{
    flex: 0 0 50%;
    max-width: 50%;
    order: -1;
  }
  .pageNotFound .message{
    flex: 0 0 50%;
    max-width: 50%;
  }
  .pageNotFound .message h2, p{
    max-width: 100%;
  }
}
/*end of pageNotFound*/

/*start of banner component*/
.banner{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: linear-gradient(var(--primary-color-overlay), var(--primary-color-overlay)),url("../images/form-join.jpg") var(--primary-color) center center no-repeat;
  background-size: cover;
  color: var(--white);
  text-align: center;
  background-position: center;
}

.banner h2{
  color: var(--white);
  font-weight: 600;
}

/*end of banner component*/

/*Menu*/
.row.menu-page {
  flex-wrap: wrap;
}

.menu-nav {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

main .menu-nav ul {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  list-style-type: none;
  width: 100%;
}

main .menu-nav ul li {
  margin-bottom: 0.5rem;
}

main .menu-nav .category-selected {
  background-color: var(--dark-red);
}

main .menu-nav .category-selected a {
  color: var(--white);
}

main .menu-content-area {
  background-color: var(--dark-red-transparent);
  width: 100%;
}

main .menu-items {
  display: none;
  flex-flow: row nowrap;
}

main .menu-items.category-selected {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
}

main .menu-items.category-selected h2 {
  display: none;
}

main .menu-item {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 50%;
  max-width: 50%;
  margin: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  background-color: var(--white);
  box-shadow: 3px 3px 4px 1px rgba(0,0,0,0.19);

}

main .menu-item img {
  margin-top: 1rem;
}

main .menu-item h4 {
  margin-top: 0.5rem;
}

main .menu-item p {
  text-align: center;
  color: var(--light-gray);
  max-width: 90%;
}

main .menu-item .item-price {
  margin-top: -4.75rem;
  margin-bottom: 3rem;
  margin-left: 7rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: var(--white);
  background-color: var(--black-transparent);
}

main .menu-item a {
  color: var(--white);
  background-color: var(--dark-red);
  padding: 0.5rem 1.25rem;
  margin-top: auto;
}

main .menu-item, main .menu-item img, main .menu-item a, main .menu-item .item-price {
  border-radius: 8px;
}

/* Tablet */
@media screen and (min-width: 768px) {

  .row.menu-page {
    flex-wrap: nowrap;
  }

  main .menu-nav ul {
    width: 80%;
  }

  main .menu-nav ul li {
    padding: 2rem;
  }

  main .menu-content-area {
    background-color: var(--white);
  }

  main .menu-items {
    flex-flow: column wrap;
  }

  main .menu-item {
    width: 35%;
    max-width: 35%;
  }

  main .menu-items.category-selected {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    overflow-x: auto;
  }

  main .menu-items.category-selected h2 {
    display: block;
    margin: 1rem auto 0rem auto;
    width: 100%;
    text-align: center;
  }
}

/* Desktop */
@media screen and (min-width: 1080px) {
  main .menu-item {
    width: 25%;
    max-width: 25%;
    margin-top: 2rem;
  }

  main .menu-items.category-selected {
    justify-content: flex-start;
  }

  main .menu-items.category-selected h2 {
    text-align: left;
    margin-left: 2rem;
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 1320px) {
  main .menu-item {
    width: 20%;
    max-width: 20%;
  }
}

/*End of menu component*/

/* Cart */

main .cart-progress {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}

main .cart-progress .cart-progress-bar {
  display: none;
}

main .cart-progress ul {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

main .cart-progress ul li {
  justify-content: space-around;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px var(--black-transparent);
}

main .cart-progress .active-cart-page {
  color: var(--primary-color);
}

main .cart-items {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
  margin-top: 4rem;
}

main .cart-item {
  display: flex;
  max-width: 80%;
  margin-bottom: 1rem;
}

main .cart-item img {
  margin-top: 0.25rem;
}

main .cart-item h4 {
  margin-top: 0;
  margin-bottom: 0;
}

main .cart-item .item-description {
  margin-left: 1rem;
}

main .cart-item .item-description .item-price {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  font-weight: bold;
}

main .cart-item .item-description select {
  margin-top: -3rem;
}

main .price-banner {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--primary-color-transparent);
}

main .price-banner .banner-text-area {
  display: inline-flex;
  justify-content: space-between;
  width: 80%;
}

main .cart-next-button {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 100%;
}

main .cart-next-button #cart-next {
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 1rem 4rem 2rem 4rem;
  border: none;
  border-radius: 6%;
  background-color: var(--dark-red);
  color: var( --white);
  cursor: pointer;
}

/* Tablet */
@media screen and (min-width: 768px) {
  main .cart-progress .cart-progress-bar {
    display: flex;
    flex-flow: column wrap;
    width: 85%;
    max-width: 85%;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
  }

  main .cart-progress .cart-progress-bar .progress-bar-line {
    height: 2px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: var(--white);
    background-color: var(--light-gray-transparent);
  }

  main .cart-progress .cart-progress-bar .progress-bar-circles {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: -1.5rem;
  }

  main .cart-progress .cart-progress-bar .progress-bar-circles .progress-bar-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--white);
    background-color: var(--primary-color);
  }

  main .cart-progress .cart-progress-bar .progress-bar-circles .progress-bar-circle.inactive {
    color: white;
    background-color: var(--white);
    border: 2px solid var(--light-gray-transparent);
  }

  main .cart-progress ul {
    justify-content: space-evenly;
  }

  main .cart-item img {
    width: 175px;
    height: 175px;
  }

  main .price-banner {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  main .price-banner .banner-text-area {
    width: 100%;
  }

  main .cart-next-button #cart-next {
    margin-top: 4rem;
  }
}

/* Desktop */
@media screen and (min-width: 992px) {

  main .cart-progress .cart-progress-bar .progress-bar-line {
    width: 40%;
  }

  main .cart-progress .cart-progress-bar .progress-bar-circles {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  main .cart-progress ul {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  main .cart-items {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  main .cart-item {
    margin-bottom: 2rem;
  }

  main .cart-item img {
    width: 350px;
  }

  main .price-banner {
    max-width: 62%;
  }

  main .cart-next-button #cart-next {
    padding: 1rem 5rem 2rem 5rem;
  }
}

/* End of cart component */

/*start of become a king */

.herocareer {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: flex-start;
  align-content:stretch;
  align-items:flex-start;
}
.herocareer div {
  display:flex;
  justify-content: center;
  align-items: center;
  align-content:center;
  flex:1 1 250px;
  margin:10px;
  border-radius:5px;
  padding:50px 50px 50px 50px;
}

.section {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}
.boxes {
  display:flex;
  flex-flow:row wrap;
  justify-content: center;
}
.section, .boxes {
  flex:1 1 300px;
  border-radius:5px;
  display:flex;
  flex-flow:column;
  justify-content: center;
  background-color:white;
}

.herocareer{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding:5vh;
  width:100%;
  height:100vh;
  position:relative;
}
.herocareer img{
   position:absolute;
   width:100%;
   height:100%;
   top:0;
   left:0;
   bottom:0;
   right:0;
   object-fit: cover;
   object-position: center;
   z-index: -1;

  }

.section.boxes h2 {
  color:var(--primary-color);
  font-size:3.25em;
}

.section.boxes p {
  color:var(--primary-color);
  font-size:1.35em;
  text-align:center;
  max-width:80%;
  line-height:2rem;
}

/*end of become a king */

/*start of specials */

main .specials-boxes {
   display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow:hidden;
  position:relative;
}

.specials-boxes img {
  display:block;
  width:295px;
  height:213px;


}
 main .specials-header {
 display:flex;
 align-content: center;
 align-items:center;
 justify-content: center;
 flex-flow:row;
  color:var(--primary-color);
}


.text-specials1 {
 position: absolute;
  width: 295px;
  height:213px;
  z-index: 1;
  top:185px;
  -webkit-transition:0.1s;
  -moz-transition:0.1s;
  -ms-transition:0.1s;
  transition : .1s;
  background: rgba(32,32,32,0.9);
  display:flex;
  align-items: center;
  align-content:center;
  flex-flow: column;
  text-align:center;
   }

.text-specials2, .text-specials3, .text-specials4 {
 position: absolute;
  width: 295px;
  height:213px;
  z-index: 1;
  top:185px;
  -webkit-transition:0.1s;
  -moz-transition:0.1s;
  -ms-transition:0.1s;
  transition : .1s;
  background: var(--primary-color);
  display:flex;
  align-items: center;
  align-content:center;
  flex-flow: column;
  text-align:center;
   }

   .specials-boxes:hover .text-specials1,.text-specials2, .text-specials3, .text-specials4
   {
    top:0;
   }

 .text-specials1 p {
position: absolute;
color:white;
display:flex;
flex-direction: center;
align-content: center;
align-items: center;
padding-top:70px;
 }

.text-specials2 p {
  position: absolute;
  color:white;
  display:flex;
  flex-direction: center;
  align-content: center;
  align-items: center;
  padding-top:50px;
}

.text-specials3  p {
  position: absolute;
  color:white;
  display:flex;
  flex-direction: center;
  align-content: center;
  align-items: center;
  padding-top:50px;
}

.text-specials4  p {
  position: absolute;
  color:white;
  display:flex;
  flex-direction: center;
  align-content: center;
  align-items: center;
  padding-top:50px;
}

.
/*end of specials*/
