<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta content="description: goes here" name="description">
	<meta content="HTML, CSS, XML, JavaScript" name="keywords">
	<meta content="Starr Robinson" name="author">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>Basic Structure</title>
	<link href="css/stylesheet.css" rel="stylesheet" type="text/css">
</head>
<body>
	<main>
		<div class="container">
			<div class="row">
				<div class="col-lg-9">
					<div class="map">
						<iframe allowfullscreen aria-hidden="false" frameborder="0" height="229" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d430149.29931720777!2d-97.30125745734613!3d32.61840294007076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864e79200adfcb49%3A0xb96e1ea9c660b961!2sAsian%20King%20Buffet!5e0!3m2!1sen!2sus!4v1587445923526!5m2!1sen!2sus" style="border:0;" tabindex="0" width="768"></iframe>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>
