@import url('<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,700i,900&display=swap');

/* CSS RESET STARTS */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END OF RESET */

/* CUSTOM CSS STARTS */

::before, ::after, * {
  box-sizing: border-box;
}

:root {
  --primary-color: #E4A50D;
  --dark-red: #870C17;
  --red:#DB0014;
  --yellow: #E4A50D;
  --dark-gray: #444444;
  --light-gray: #A9A9A9;
  --black: #1A1818;
  --white: #ffffff;
  --offset: 1rem;
  --border-size: 2px;

    --gutter: 1rem;

    --grid:calc(100% / 9);
    --col-1:calc( var(--grid) * 1);
    --col-2:calc( var(--grid) * 2);
    --col-3:calc( var(--grid) * 3);
    --col-4:calc( var(--grid) * 4);
    --col-5:calc( var(--grid) * 5);
    --col-6:calc( var(--grid) * 6);
    --col-7:calc( var(--grid) * 7);
    --col-8:calc( var(--grid) * 8);
    --col-9:calc( var(--grid) * 9);
  }

}


/* MAIN CSS STYLE*/

html {
  font-size: 1em;
}

body {
  font-size: 1rem;
  line-height: 1.618em;
  font-family: "Roboto", sans-serif;
  color: black;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

p, h2, h3, h4, h5, h6 {
  max-width: 35rem;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
  font-family: 'Roboto', sans-serif;
}

/*Headers */

h1, .h1 {
  font-size: 5rem;
  line-height: 5.125rem;
  font-weight: 900;
  color: black;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 720px) {
  h1, .h1 {
    font-size: 3rem;
  }
}

/*Subheads */

h2, .h2 {
  font-size: 2rem;
  line-height: 2.382rem;
  font-weight: 500;
  color: var(--dark-gray);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*Subtitles */

h3, .h3 {
  font-size: 1.618em;
  line-height: 2.382rem;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--dark-gray);
}

/*buttons */

h4, .h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: black;
}

/*footer title*/

h5, .h5 {
  font-size: 1rem;
  line-height: 1.1em;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--dark-gray);
}

/*footer description */

h6, .h6 {
  font-size: .8rem;
  line-height: .8rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--dark-gray);
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7rem;
  margin-top: 1;
  margin-bottom: 1rem;
}

q {
  color: black;
  font-style: italic;
  font-weight: 500;
  quotes: '' '';
}

strong, b {
  font-weight: 500;
  color: black;
}

a:link {
  text-decoration: none;
}

a:link, a:active, a:hover, a:visited {
  color: black;
}

a:hover {
  color: var(--primary-color);
}

label {
  cursor: pointer;
}

input {
  display: none;
}

/* Navigation */

nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  width: 100%;
  padding: calc(1rem / 1.618);
  background-color: white;
  box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.23);
}

nav .open {
  display: block !important;
}

nav a.navbar-brand {
  flex: 1 1 70%;
  max-width: 70%;
  background: url("img/logo-type.svg") no-repeat 0 0/contain transparent;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 3rem;
  text-indent: -999999px;
}

nav button.navbar-toggler {
  background-color: var(--dark-red);
  border: 0;
  padding: calc(1em / 1.618) 1em;
  color: var(--white);
  font-size: 1em;
  cursor: pointer;
}

nav .navbar-collapse {
  flex: 1 1 100%;
  max-width: 100%;
  display: none;
}

nav .navbar-collapse .navbar-nav, nav .navbar-collapse .dropdown-menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

nav .navbar-collapse .navbar-nav .nav-item {}

nav .navbar-collapse .navbar-nav .nav-item .nav-link, nav .navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-link {
  padding: calc(1em / 1.618) 1em;
  display: block;
  overflow: hidden;
  text-decoration: none;
}

nav .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: var(--black);
}

nav .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: var(--dark-red);
  border-bottom: 3px solid var(--dark-red);
  border-spacing: 1px;
}


@media screen and (min-width: 720px) {}

@media screen and (min-width: 960px) {
  nav {}
  nav .navbar-collapse {
    display: block;
  }
  nav a.navbar-brand {
    flex: 0 0 238px;
    max-width: 238px;
  }
  nav button.navbar-toggler {
    display: none;
  }
  nav .navbar-collapse {
    flex: 1 1 calc(100% - 238px);
    max-width: calc(100% - 238px);
  }
  nav .navbar-collapse .navbar-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;
  }
  nav .navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--light-gray);
  }
}

/* End of Navigation */

.container{
width:100%;
margin-left:auto;
margin-right:auto;
padding-right:1rem;
padding-left:1rem;
}

.row{

margin-left: -1rem;
margin-right: -1rem;
display:flex;
flex-flow: row wrap;
justify-content:flex-start;
align-items:flex-start;
align-content:flex-start;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7 .col-sm-8, .col-sm-9,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7 .col-md-8, .col-md-9,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7 .col-lg-8, .col-lg-9,
.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7 .col-xl-8, .col-xl-9
{
padding-right:var(--gutter);
padding-left:var(--gutter);
}


.col-xs-1{
flex:0 0 var(--col-1);
max-width: var(--col-1);
}
.col-xs-2{
flex:0 0  var(--col-2);
max-width: var(--col-2);
}
.col-xs-3{
  flex:0 0  var(--col-3);
  max-width: var(--col-3);
}
.col-xs-4 {
  flex:0 0  var(--col-4);
  max-width: var(--col-4);
}
.col-xs-5{
  flex:0 0  var(--col-5);
  max-width: var(--col-5);
}

.col-xs-6{
  flex:0 0  var(--col-6);
  max-width: var(--col-6);
}
.col-xs-7{
  flex:0 0  var(--col-7);
  max-width: var(--col-7);
}
.col-xs-8{
  flex:0 0  var(--col-8);
  max-width: var(--col-8);
}
.col-xs-9{
  flex:0 0  var(--col-9);
  max-width: var(--col-9);
}



@media screen and (min-width:576px){
  .col-sm-1{
  flex:0 0  var(--col-1);
	max-width: var(--col-1);
  }
  .col-sm-2{
  flex:0 0  var(--col-2);
	max-width: var(--col-2);
  }
  .col-sm-3{
    flex:0 0  var(--col-3);
  	max-width: var(--col-3);

  }
  .col-sm-4 {
    flex:0 0  var(--col-4);
    max-width: var(--col-4);
  }
  .col-sm-5{
    flex:0 0  var(--col-5);
  	max-width: var(--col-5);
  }

  .col-sm-6{
    flex:0 0  var(--col-6);
  	max-width: var(--col-6);
  }
  .col-sm-7{
    flex:0 0  var(--col-7);
    max-width: var(--col-7);
  }
  .col-sm-8{
    flex:0 0  var(--col-8);
    max-width: var(--col-8);
  }
  .col-sm-9{
    flex:0 0  var(--col-9);
    max-width: var(--col-9);
  }


}
@media screen and (min-width:768px){
  .col-md-1{
  flex:0 0  var(--col-1);
  max-width: var(--col-1);
  }
  .col-md-2{
  flex:0 0  var(--col-2);
  max-width: var(--col-2);
  }
  .col-md-3{
    flex:0 0  var(--col-3);
  	max-width: var(--col-3);
  }
  .col-md-4 {
    flex:0 0  var(--col-4);
  	max-width: var(--col-4);
  }
  .col-md-5{
    flex:0 0  var(--col-5);
  	max-width: var(--col-5);
  }
  .col-md-6{
    flex:0 0  var(--col-6);
  	max-width: var(--col-6);
  }
  .col-md-7{
    flex:0 0  var(--col-7);
  	max-width: var(--col-7);
  }
  .col-md-8{
    flex:0 0  var(--col-8);
  	max-width: var(--col-8);
  }
  .col-md-9{
    flex:0 0  var(--col-9);
  	max-width: var(--col-9);
  }
}

@media screen and (min-width:992px){

  .col-lg-1{
  flex:0 0  var(--col-1);
	max-width: var(--col-1);
  }
  .col-lg-2{
  flex:0 0  var(--col-2);
	max-width: var(--col-2);
  }
  .col-lg-3{
    flex:0 0  var(--col-3);
    max-width: var(--col-3);
  }
  .col-lg-4 {
    flex:0 0  var(--col-4);
  	max-width: var(--col-4);
  }
  .col-lg-5{
    flex:0 0  var(--col-5);
  	max-width: var(--col-5);
  }
  .col-lg-6{
    flex:0 0  var(--col-6);
  	max-width: var(--col-6);
  }
  .col-lg-7{
    flex:0 0  var(--col-7);
  	max-width: var(--col-7);
  }
  .col-lg-8{
    flex:0 0  var(--col-8);
  	max-width: var(--col-8);
  }
  .col-lg-9{
    flex:0 0  var(--col-9);
  	max-width: var(--col-9);
  }

}
@media screen and (min-width:1200px){
  .col-xl-1{
  flex:0 0  var(--col-1);
	max-width: var(--col-1);
  }
  .col-xl-2{
  flex:0 0  var(--col-2);
	max-width: var(--col-2);
  }
  .col-xl-3{
    flex:0 0  var(--col-3);
  	max-width: var(--col-3);
  }
  .col-xl-4 {
    flex:0 0  var(--col-4);
  	max-width: var(--col-4);
  }
  .col-xl-5{
    flex:0 0  var(--col-5);
  	max-width: var(--col-5);
  }
  .col-xl-6{
    flex:0 0  var(--col-6);
  	max-width: var(--col-6);
  }
  .col-xl-7{
    flex:0 0  var(--col-7);
    max-width: var(--col-7);
  }
  .col-xl-8{
    flex:0 0  var(--col-8);
  	max-width: var(--col-8);
  }
  .col-xl-9{
    flex:0 0  var(--col-9);
  	max-width: var(--col-9);
  }

}

/* Grid system ends*/
