*, ::before, ::after {
	box-sizing: border-box;
}

:root {
	/* Added the gutter here to make it easier to change in a single place just in case */
	--gutter: 1rem;
	/* Calculation for the 12 column grid system */
	--grid: calc( 100% / 12);
	/* Setting up each column using the calculation above and then multiplying it to the column width that we are looking to achieve */
	--col-1: calc( var(--grid) * 1);
	--col-2: calc( var(--grid) * 2);
	--col-3: calc( var(--grid) * 3);
	--col-4: calc( var(--grid) * 4);
	--col-5: calc( var(--grid) * 5);
	--col-6: calc( var(--grid) * 6);
	--col-7: calc( var(--grid) * 7);
	--col-8: calc( var(--grid) * 8);
	--col-9: calc( var(--grid) * 9);
	--col-10: calc( var(--grid) * 10);
	--col-11: calc( var(--grid) * 11);
	--col-12: calc( var(--grid) * 12);
}

html {
	font-size: 1em;
}
table, th, td {
	border: 1px solid black;
}
header {
	width: 80%;
	margin: auto;
	text-align: center;
}
footer {
	width: 80%;
	margin: auto;
	text-align: center;
}


@media screen and (min-width: 768px) {
	html {
		font-size: 1.25em;
	}
}

body {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

/* Grid System
576px, 768px, 992px, 1200px
*/

.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-right: 1rem;
	padding-left: 1rem;
}

@media screen and (min-width: 576px) {
	.container {
		max-width: 576px;
	}
}

@media screen and (min-width: 768px) {
	.container {
		max-width: 768px;
	}
}

@media screen and (min-width: 992px) {
	.container {
		max-width: 992px;
	}
}

@media screen and (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
}

.row {
	margin-left: -1rem;
	margin-right: -1rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
	padding-right: var(--gutter);
	padding-left: var(--gutter);
}

.col-xs-1 {
	flex: 0 0 var(--col-1);
	max-width: var(--col-1);
}

.col-xs-2 {
	flex: 0 0 var(--col-2);
	max-width: var(--col-2);
}

.col-xs-3 {
	flex: 0 0 var(--col-3);
	max-width: var(--col-3);
}

.col-xs-4 {
	flex: 0 0 var(--col-4);
	max-width: var(--col-4);
}

.col-xs-5 {
	flex: 0 0 var(--col-5);
	max-width: var(--col-5);
}

.col-xs-6 {
	flex: 0 0 var(--col-6);
	max-width: var(--col-6);
}

.col-xs-7 {
	flex: 0 0 var(--col-7);
	max-width: var(--col-7);
}

.col-xs-8 {
	flex: 0 0 var(--col-8);
	max-width: var(--col-8);
}

.col-xs-9 {
	flex: 0 0 var(--col-9);
	max-width: var(--col-9);
}

.col-xs-10 {
	flex: 0 0 var(--col-10);
	max-width: var(--col-10);
}

.col-xs-11 {
	flex: 0 0 var(--col-11);
	max-width: var(--col-11);
}

.col-xs-12 {
	flex: 0 0 var(--col-12);
	max-width: var(--col-12);
}

@media screen and (min-width: 576px) {

	.col-sm-1 {
		flex: 0 0 var(--col-1);
		max-width: var(--col-1);
	}

	.col-sm-2 {
		flex: 0 0 var(--col-2);
		max-width: var(--col-2);
	}

	.col-sm-3 {
		flex: 0 0 var(--col-3);
		max-width: var(--col-3);
	}

	.col-sm-4 {
		flex: 0 0 var(--col-4);
		max-width: var(--col-4);
	}

	.col-sm-5 {
		flex: 0 0 var(--col-5);
		max-width: var(--col-5);
	}

	.col-sm-6 {
		flex: 0 0 var(--col-6);
		max-width: var(--col-6);
	}

	.col-sm-7 {
		flex: 0 0 var(--col-7);
		max-width: var(--col-7);
	}

	.col-sm-8 {
		flex: 0 0 var(--col-8);
		max-width: var(--col-8);
	}

	.col-sm-9 {
		flex: 0 0 var(--col-9);
		max-width: var(--col-9);
	}

	.col-sm-10 {
		flex: 0 0 var(--col-10);
		max-width: var(--col-10);
	}

	.col-sm-11 {
		flex: 0 0 var(--col-11);
		max-width: var(--col-11);
	}

	.col-sm-12 {
		flex: 0 0 var(--col-12);
		max-width: var(--col-12);
	}
}
@media screen and (min-width: 768px) {

	.col-md-1 {
		flex: 0 0 var(--col-1);
		max-width: var(--col-1);
	}

	.col-md-2 {
		flex: 0 0 var(--col-2);
		max-width: var(--col-2);
	}

	.col-md-3 {
		flex: 0 0 var(--col-3);
		max-width: var(--col-3);
	}

	.col-md-4 {
		flex: 0 0 var(--col-4);
		max-width: var(--col-4);
	}

	.col-md-5 {
		flex: 0 0 var(--col-5);
		max-width: var(--col-5);
	}

	.col-md-6 {
		flex: 0 0 var(--col-6);
		max-width: var(--col-6);
	}

	.col-md-7 {
		flex: 0 0 var(--col-7);
		max-width: var(--col-7);
	}

	.col-md-8 {
		flex: 0 0 var(--col-8);
		max-width: var(--col-8);
	}

	.col-md-9 {
		flex: 0 0 var(--col-9);
		max-width: var(--col-9);
	}

	.col-md-10 {
		flex: 0 0 var(--col-10);
		max-width: var(--col-10);
	}

	.col-md-11 {
		flex: 0 0 var(--col-11);
		max-width: var(--col-11);
	}

	.col-md-12 {
		flex: 0 0 var(--col-12);
		max-width: var(--col-12);
	}
}
@media screen and (min-width: 992px) {

	.col-lg-1 {
		flex: 0 0 var(--col-1);
		max-width: var(--col-1);
	}

	.col-lg-2 {
		flex: 0 0 var(--col-2);
		max-width: var(--col-2);
	}

	.col-lg-3 {
		flex: 0 0 var(--col-3);
		max-width: var(--col-3);
	}

	.col-lg-4 {
		flex: 0 0 var(--col-4);
		max-width: var(--col-4);
	}

	.col-lg-5 {
		flex: 0 0 var(--col-5);
		max-width: var(--col-5);
	}

	.col-lg-6 {
		flex: 0 0 var(--col-6);
		max-width: var(--col-6);
	}

	.col-lg-7 {
		flex: 0 0 var(--col-7);
		max-width: var(--col-7);
	}

	.col-lg-8 {
		flex: 0 0 var(--col-8);
		max-width: var(--col-8);
	}

	.col-lg-9 {
		flex: 0 0 var(--col-9);
		max-width: var(--col-9);
	}

	.col-lg-10 {
		flex: 0 0 var(--col-10);
		max-width: var(--col-10);
	}

	.col-lg-11 {
		flex: 0 0 var(--col-11);
		max-width: var(--col-11);
	}

	.col-lg-12 {
		flex: 0 0 var(--col-12);
		max-width: var(--col-12);
	}
}
@media screen and (min-width: 1200px) {

	.col-xl-1 {
		flex: 0 0 var(--col-1);
		max-width: var(--col-1);
	}

	.col-xl-2 {
		flex: 0 0 var(--col-2);
		max-width: var(--col-2);
	}

	.col-xl-3 {
		flex: 0 0 var(--col-3);
		max-width: var(--col-3);
	}

	.col-xl-4 {
		flex: 0 0 var(--col-4);
		max-width: var(--col-4);
	}

	.col-xl-5 {
		flex: 0 0 var(--col-5);
		max-width: var(--col-5);
	}

	.col-xl-6 {
		flex: 0 0 var(--col-6);
		max-width: var(--col-6);
	}

	.col-xl-7 {
		flex: 0 0 var(--col-7);
		max-width: var(--col-7);
	}

	.col-xl-8 {
		flex: 0 0 var(--col-8);
		max-width: var(--col-8);
	}

	.col-xl-9 {
		flex: 0 0 var(--col-9);
		max-width: var(--col-9);
	}

	.col-xl-10 {
		flex: 0 0 var(--col-10);
		max-width: var(--col-10);
	}

	.col-xl-11 {
		flex: 0 0 var(--col-11);
		max-width: var(--col-11);
	}

	.col-xl-12 {
		flex: 0 0 var(--col-12);
		max-width: var(--col-12);
	}
}
