@charset "utf-8";

header {
	width: 80%;
	margin: auto;
	text-align: center;
}

.container {
	width: 80%;
	margin: auto;
}

table, th, td {
	border: 1px solid black;
}

footer {
	width: 80%;
	margin: auto;
	text-align: center;
}

